  <div class="jumbotron">
    <h1 class="title">酷友电影评论网</h1>
    <p class="slogan">酷友电影评论网 中国最专业的电影评论网,这里有最新最全的电影评论,电影影评以及电影资讯。
    <br>
    我们希望藉由这个网站，能让大家找到更优质的电影。
    <br>
     这里有最新最全的电影评论,电影影评以及电影资讯。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/groups">进入</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fe0mcnczb7j303k03ka9u.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>上海汽车城中心</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fe1k5l6rkuj303k03ka9t.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@movie.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fe1k9cin6uj303k03kgld.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>021-30298888</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
